<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo_index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
</head>
<body>
    <h1 style="background-color:antiquewhite;color:black;">Hello World</h1>
    <h2>User Input</h2>
    <form action="/index/" method="post">
        username: <input type="text" name="username"/>
        password: <input type="password" name="password"/>
        <input type="submit" value="submit"/>
    </form>

    <h2>user_show</h2>
    <table border="1">
        <thead>
            <th>username</th>
            <th>password</th>
        </thead>
        <tbody>
            {% for line in data %}
            <tr>
                <td>{{ line.user }}</td>
                <td>{{ line.pwd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/js/document_write.js"></script>
    <h2>Please input integers</h2>
    <form action="/index/" method="get">
        a: <input type="text" name="a"/> <br>
        b: <input type="text" name="b"/> <br>
        <input type="submit" value="submit"/>
    </form>
    <h3>Result:{{a}} + {{b}} = {{ add_result }}</h3>
    <h2>Please input integers</h2>
    <form action="/sub/" method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit"/>
    </form>
    <h2>Send Email</h2>
    <form action="/sendemail/" method="get">
        subject: <input type="text" name="subject"/> <br>
        content: <input type="text" name="content"/> <br>
        to: <input type="text" name="toemail"/> <br>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>